body {
background: #FFF8DC;	
}

.object {
 position: absolute;	
 width: 300px;
 height: 400px;
 border:2px solid #aeaeae;
 top: 50%;
 left: 50%;
 background: #fff;
 margin-left: -182px;
 margin-top: -200px;
 padding:20px 30px 20px 30px;
  }

.object-1 {
 border:2px solid #aeaeae;	
 position: inherit;
 height: 396px;
 width: 296px;
}