body {
font-family: Arial, sans-serif;	
text-align: center;    
color: #333333;
margin-top: 240px;
} 

.header p {
font-size: 36px;
font-weight: 300;
margin-bottom: 120px;
	
}

.caption p {
font-size: 15px;
margin-top: 20px;	
}

.images-size {
width: 100px;
height: 100px;	
}

