body {
  background-color: #DCDCDC;
  font-family: Arial, sans-serif;
}

header {
 background-color: #E0FFFF; 
 
}

footer {
 border: 4px double black; /* Ïàðàìåòðû ãðàíèöû */
 background: #fc3; /* Öâåò ôîíà */
 padding: 15px; /* Ïîëÿ âîêðóã òåêñòà */	
}
h1, h2, h3 {
text-align: center;	
}

nav {
border: 4px double black; /* Ïàðàìåòðû ãðàíèöû */
    background: #fc3; /* Öâåò ôîíà */
    padding: 15px; /* Ïîëÿ âîêðóã òåêñòà */	
}

.border  {
border: 4px double black; /* Ïàðàìåòðû ãðàíèöû */
 padding: 10px; /* Ïîëÿ âîêðóã òåêñòà */	
}

.strike {
text-decoration: line-through;	
}

.underline {
text-decoration: underline;	
font-weight: 600;
}
li {
margin: 10px;	
}

p {
width:90%;
font-size:15px;
margin:10px;
}
