@font-face {
	font-family: 'Bebas Neue Cyrillic';
	src: url('../fonts/subset-BebasNeueCyrillic.eot');
	src: url('../fonts/subset-BebasNeueCyrillic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/subset-BebasNeueCyrillic.woff2') format('woff2'),
		url('../fonts/subset-BebasNeueCyrillic.woff') format('woff'),
		url('../fonts/subset-BebasNeueCyrillic.ttf') format('truetype'),
		url('../fonts/subset-BebasNeueCyrillic.svg#BebasNeueCyrillic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/subset-Lato-Regular.eot');
	src: url('../fonts/subset-Lato-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/subset-Lato-Regular.woff2') format('woff2'),
		url('../fonts/subset-Lato-Regular.woff') format('woff'),
		url('../fonts/subset-Lato-Regular.ttf') format('truetype'),
		url('../fonts/subset-Lato-Regular.svg#Lato-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lobster';
	src: url('../fonts/subset-Lobster-Regular.eot');
	src: url('../fonts/subset-Lobster-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/subset-Lobster-Regular.woff2') format('woff2'),
		url('../fonts/subset-Lobster-Regular.woff') format('woff'),
		url('../fonts/subset-Lobster-Regular.ttf') format('truetype'),
		url('../fonts/subset-Lobster-Regular.svg#Lobster-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
.fonts {
font-size: 1.5rem;	
}
.open_sans {
	font-family: 'Open Sans', sans-serif;
}
.bebas {
font-family: 'Bebas Neue Cyrillic', sans-serif;
}

.lato {
font-family: 'Lato', sans-serif;
font-weight: 300;
}

.lobster {
font-family: 'Lobster', sans-serif;
}

.text-box{
	padding-top: 2rem;
}
.result {
	margin-bottom: 0;
	margin-top: 3rem;
}
.fonts {
	font-size: 2rem;
	text-align: center;
	padding: 2rem;
}
small {
	font-size: 1.3rem;
}
